.yzbjt {
    width: 50%;
    height: 40px;
    background-image: url('../img/yzbeijing.jpg');
    font-size: 20px;
    font-style: italic;
    letter-spacing: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    user-select: none;
}

.hint_text {
    color: blue;
    font-size: 12px;
    float: right;
    margin-left: auto;
    margin: 10px 0;
}

.yzinp {
    width: 260px;
    height: 40px;
    margin: 10px 0;
    box-sizing: border-box;
    margin-left: 15px;
}

.yz_main {
    display: flex;
    align-items: center;
    justify-content: start;
  }
